* {
	box-sizing: border-box;
}
body {
	max-width: 60em;
    margin:0 auto;
	padding: 0 1em 1em;
    background-color: gray;
}
header{
    margin: 0 auto;
    position: relative;
    top: 0.54em;
    max-width: 60em;    
    
}
.logo{
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 500px;
    top: 45px;
    left: -50px
}
.gif{
    display: flex;
    position: relative;
    top: -45px;
    left: 59px
}

/*Síða 2*/
.fyrirsogn {
    text-align: center;
    color: blue;
}

p {
    font-size: 18px;
}
picture{
    width: 170px;
}
.api{
    width: 170em;
}

.fyrirsogn {
    margin: 0 auto;
    color: blue;
    padding: 1em
}

.forms{
    display: flex;
    flex-flow: row;
    text-align: center;
}
.form{
    background-color: crimson;
    position: relative;
    padding: 1em;
    width: 50%;
    order: 2;
}
.dagskra{
    background-color: aqua;
    width: 25%;
    position: relative;
    text-align: center;
    max-width: 25%;
    order: 1;
}

@media screen and (min-width: 64em){
    .body{
        background-color: aqua;
    }
}

.menu {
    width: 100%;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 10px;

}
nav{
	display: flex;
	background-color: gray;
	flex-direction: column;
}
nav ul{
	display: flex;
	list-style-type: none;
	padding: 0;
	justify-content: flex-start;
}

li{
	margin: 0 auto;

}

nav a{
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 0.1px;
}
.text {
    display: flex
}
.umtext{
    position: relative;
    width: 75%;
    order: 1;
}
.add{
    position: relative;
    width: 25%;
    order: 2;
    background-color: darkturquoise;
}
.logo2 {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 500px;  
    top: -65.5px;
    left: -50px
}

.gif2 {
    display: flex;
    position: relative;
    top: 16.3px;
    left: 59px
}
.body {
    background-color: white;
    border: opx white solid;
    border-radius: 10px;
}
.text2 {
    font-size: 18px;
    margin: 0 auto;
    max-width: 60em;
}
.scary{
    position: absolute;
    width: 200px;
    animation-name: scarygif;
    animation-duration: 20s;
    transform: scaleX(-1);
    animation-delay: 10s;
    
}

@-webkit-keyframes scarygif {
    0%   {left: 31em;}
    25%  {left: 140em;}
    75%  {transform: scale(1); top:35em; left: 50em;}
}



.ad{
    position: relative;
    left: 1em;
    top: -0.5em;
    background-color: rgb(255, 0, 10);
    width: 85%;
    height: 30em;
}
.logoheader{
    position: relative;
    top: 1em;
    text-align: center;
    font-size: 25px;
}
.innriad{
    
    position: relative;
    background-color: white;
    width: 90%;
    height: 85%;
    top: 0.8em;
    left: 0.6em;
    
}
.adtexti{
    position: relative;
    width: 95%;
    top: 1em;
    left: 0.27em;
    text-align: center;
}
.adboxcontainer{
    position: relative;
    top: 1em;
    text-align: center;

}
.adbox{
    display: flex;
    position: relative;
    margin: 0.5em auto;
    width: 95%;
    padding: 0.5em;
    background-color: rgb(255, 0, 0);
    border-style: solid;
    text-decoration: none;
    justify-content: center;
}
.adbox:hover{
    border-color: #00d6fd;
}
.georg{
    position: relative;
    top: 0.5em;
    left: 1em;
    width: 140px;
    height: 140px;
}
